* { box-sizing: border-box; }

header, nav, main, footer { display: block;}

main h2, main h3, main h4, main p, main div, main ul, main dl, main dt, main dd {
  padding-left: 3em; padding-right: 2em;}

body { 
    background-color: #FEF6C2;
    background-image: url("image/background.gif");
    font-family: Verdana, Arial, Times New Roman;}

main { 
    padding-left: 0em; padding-bottom: 2em; padding-right: 0em;
    display: block;
    margin-left: 200px;
    background-color: #FEF6C2;}

header { 
    
    background-color: #D2B48C;
    height: 150px; background-image: url("image/javajamlogo.jpg");
    background-repeat: no-repeat;}

nav { 
    font-size: 1.5em; padding-top: 10px;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 200px;}

nav a { text-decoration: none;}
nav a:link { color: #FEF6C2;}
nav a:visited { color: FEF6C2;}
nav a:hover { color: #CC9933;}
nav ul { list-style-type: none; padding-left: 0;}


h1 { 
    padding-top: 45px; padding-left: 220px; font-size: 3em;
}

h4 { background-color: #D2B48C; 
    font-size: 1.2em; 
    padding-left: 10px; padding-bottom: 0px;
    text-transform: uppercase;
    clear: left;}

footer { 
    padding-bottom: 10px; border-top: 2px;
    background-color: #D2B48C;
    text-align: center;
    font-size: small;
    font-style: italic;
}

#wrapper { background-color: #231814;
    min-width: 900px; max-width: 1280px;
    box-shadow: 2px 2px 2px gray;
    width: 80%;
    margin-left: auto; margin-right: auto;}

.details { 
    padding-left: 20%; padding-right: 20%;
    overflow: auto;}

img { 
    padding-left: 10px; padding-right: 10px;}

#heroroad { background-image: url(image/heroroad.jpg);
    height: 250px; background-size: 100% 100%;}

#heromugs { background-image: url(image/heromugs.jpg);
    height: 250px; background-size: 100% 100%;}

#heroguitar { background-image: url(image/heroguitar.jpg);
    height: 250px; background-size: 100% 100%;}

.floatleft { 
    float: left; padding-right: 2em; padding-bottom: 2em;
}
