header { background-color: #D2B48C;
    text-align: center;}

h1 { line-height: 200%;}

nav { font-size: 1.5em;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;}

nav a { text-decoration: none;}

body { background-color: #b89e81;
    font-family: Verdana, Arial, Times New Roman;
    font-color: #221811;}


footer { background-color: #D2B48C;
    font-size: small;
    font-style: italic;
    text-align: center;}

#wrapper { width: 80%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;}

img 
{
    padding-left: 10px; 
    padding-right: 10px;
}
