header { background-color: #D2B48C;
    text-align: center;}

h1 { line-height: 200%;}


nav { text-align: center;
    font-weight: bold;}


body { background-color: white;
    font-family: Verdana, Arial, Times New Roman;
    font-color: #221811;}


footer { background-color: #D2B48C;
    font-size: small;
    font-style: italic;
    text-align: center;}

#wrapper { width: 80%;
    margin-right: auto;
    margin-left: auto;}
